.container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.button {
  margin-top: 10px;
}

.notification {
  position: absolute;
  top: -25px;
  width: 90%;
  height: 25px;
  line-height: 25px;
  border-radius: 0 0 5px 5px;
  background: #ff5350;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  transition: top 0.5s ease-out;
}

.notificationOpened {
  top: 0;
}
