.avatar {
  min-width: 30px;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  margin-right: 10px;
}

.notification {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e1e4e8;
}

.message {
  font-size: 10px;
}

.link {
  color: #00f;
}

.link:hover {
  text-decoration: underline;
}

.background {
  padding: 2px 3px;
  text-decoration: none !important;
  border-radius: 3px;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.mono {
  font-family: monospace;
  padding: 2px 3px;
  background: #f6f8fa;
}
