.container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow: column nowrap;
}

.header {
  display: flex;
  align-items: center;
  padding: 0 10px 0 15px;
  background-color: #24292e;
  min-height: 36px;
}

.notifications {
  overflow-y: auto;
}
